<app-header></app-header>

<section class="home">
  <app-container>
    <div class="home-header">
      <h1>
        Home
      </h1>
    </div>
  </app-container>
  <app-content>
    <div>
      <div>Create Job</div>
      <input (change)="handleFileInput($event.target)"
             id="file"
             type="file">

      <app-button (click)="createJob()">Create Job</app-button>
    </div>

    <div>
      <div>Get Job Status</div>
      <input (change)="handleJobIdInput($event.target)"
             id="jobId"
             type="text">
      <app-button (click)="getJobStatus()">Get Job Status</app-button>
    </div>
  </app-content>

</section>

